@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    color: white;
    padding: 3em;
    text-align: center;
}

nav {
    text-align: right;
}

nav li {
    list-style: none;
    display: inline;
    padding: 0 1%;
    margin-right: 20px;
}

nav a,i{
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
nav i {
    margin-right: 5px;
}

nav a.active {
    color: orange;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
}


.photo img {
    max-width: 100%;
    height: auto;
}
#L1{
    font-size: 24px;
    color: rgb(133, 221, 239);
    padding: 20px 0;
}
#L2{
    font-size: 32px;
    color: rgb(46, 180, 237);
    padding: 20px 0;
}
#L3{
    padding: 20px 0;
}
#b1{
    padding: 20px 0;
    color: white;
    width: 80px;
    font-size: 14px;
    background-color: rgb(48, 155, 188);
    border: none;
    padding: 0.5em;
    border-radius: 8px;
    box-shadow: 1px black;
}
#b2{
    padding: 20px 0;
    color: rgb(48, 155, 188);
    width: 140px;
    font-size: 14px;
    background-color: white;
    padding: 0.5em;
    border-color: rgb(48, 155, 188);
    border-radius: 8px;
}
